@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
@charset "UTF-8";
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: #0c9b83; 
}
.galerija{
  display: flex;
  float: right;
  width: 100%;
  color: #fff;
  background: #1e1e1e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 80px 0 80px;
}
.galerija .heading{
  width: 50%;
  padding-bottom: 50px;
}
.galerija .heading h3{
	font-family: 'Montserrat';
    text-shadow: 1px 1px 4px #0000008c;
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 4px solid #0c9b83;
    --bs-text-opacity: 1;
    color: #ffffff !important;
}
.galerija .heading h3 span{
  font-weight: 100;
}
.galerija .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.galerija .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.galerija .box .dream img{
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
}
.galerija .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}
/*.container2 a{
	font-size: 1.75em;
    transition: font-size 0.3s;
    font-weight: 200;
	color: #fff;
	font-family: 'Montserrat';
	text-transform: uppercase !important;
}

.container2{
	display: block;
	position: fixed;
	height: 100%;
	width: 30%;
	background-color: #1e1e1e;
}
.container2 p{
	height: 4%;
	width: 5%;
	color: #fff;
}*/
.title{
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}
#btn1{
	display: block;
	padding: 7px;
	background-color: rgb(0 150 136 / 50%);
	font-weight: 400;
	line-height: 1.5;
	color: #f8f9fa;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: 0.125rem solid transparent;
	font-size: 1.25rem;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#btn2{
	display: block;
	padding: 7px;
	background-color: rgb(0 150 136 / 50%);
	font-weight: 400;
	line-height: 1.5;
	color: #f8f9fa;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: 0.125rem solid transparent;
	font-size: 1.25rem;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#btn3{
	display: block;
	padding: 7px;
	background-color: rgb(0 150 136 / 50%);
	font-weight: 400;
	line-height: 1.5;
	color: #f8f9fa;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: 0.125rem solid transparent;
	font-size: 1.25rem;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#btn4{
	display: block;
	padding: 7px;
	background-color: rgb(0 150 136 / 50%);
	font-weight: 400;
	line-height: 1.5;
	color: #f8f9fa;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: 0.125rem solid transparent;
	font-size: 1.25rem;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#btn1:hover{
	color: #0c9b83 !important;
}
#btn2:hover{
	color: #0c9b83 !important;
}
#btn3:hover{
	color: #0c9b83 !important;
}
#btn4:hover{
	color: #0c9b83 !important;
}










@media only screen and (max-width: 1080px){
.galerija .box{
   flex-direction: column;
}
.galerija{
	padding: 150px 8% 0 5%;
}
.galerija .box .dream{
  width: 100%;
  margin: 0px 5px 0px 5px;
}

.galerija .heading{
  width: 93%;
}
.galerija .heading h3{
    font-size: 40px;
}
.galerija .heading h3{
    padding-bottom: 5%;
}
.galerija .box .dream img{
    margin-bottom: 7%;
}
/*.container2 a{
	font-size: 1.25em;
}
.container2{
	display: block;
	position: fixed;
	height: 76px;
	width: 100%;
    transition: height 0.5s;
	background-color: #1e1e1e;
}*/

}
